[Unit]
Description=Service wallpapers change random
After=graphical-session.target

[Service]
Type=simple
ExecStart=/opt/wallpapers-random.sh

[Install]
WantedBy=default.target
