Description=Service wallpapers change random

[Service]
User=USER
Group=USER
ExecStart=/home/USER/.local/bin/wallpapers-random.sh

[Install]
WantedBy=multi-user.target
